In [5]:
from IPython.core.display import display,HTML

display(HTML("<style>.container { width: 90% !important;}</style>"))

/var/folders/s2/bjtyvybn0kv3rwjkn5xht9_m0000gn/T/ipykernel_6409/2814205877.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display,HTML

In [6]:
import pandas as pd
import govt_func as gf
import datetime
from imp import reload

import numpy as np
from dateutil.relativedelta import *

# Import Data

In [7]:
provider_uri = "data/avg_stock_price.xlsx"

df_pre = pd.read_excel(provider_uri, sheet_name="Sheet1")
df_close = pd.read_excel(provider_uri,sheet_name="Sheet2")
df_pre = df_pre.replace(0,np.nan)
df_close = df_close.replace(0,np.nan)
df_pre

,Unnamed: 0,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
0,2011-01-04,515.510451,729.602489,78.550099,25.762612,133.692463,38.388369,33.336189,60.842498,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-02-01,496.961664,683.896124,79.579154,24.051472,132.020245,37.593402,34.027516,64.782531,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-03-01,517.417276,694.586056,91.751328,29.347758,135.752710,38.939389,NaN,78.690157,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-04-01,529.055035,729.192303,86.619031,28.272970,152.393591,39.715868,33.276654,65.818041,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-05-03,587.247055,704.422133,83.346299,NaN,143.112318,41.632716,34.178023,62.033370,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2022-09-01,1297.814963,2189.347812,60.500764,12.457644,185.233067,56.313323,59.144619,120.761857,38.159176,...,53.700176,58.158887,192.605361,39.084729,116.877531,33.979146,144.964183,39.172666,40.26,43.1867
141,2022-10-10,1185.972844,2322.574475,53.473864,11.643307,179.752570,54.472519,53.883544,91.595532,33.422004,...,46.825588,49.499357,142.253907,37.811777,85.458840,31.974960,122.638856,33.588368,38.11,38.3761
142,2022-11-01,1082.024379,1754.435396,56.984719,11.498307,159.179231,54.078109,55.946614,97.240042,33.008296,...,64.755799,62.674417,164.968320,40.154009,82.201350,36.494605,109.761174,42.424152,41.53,32.1832
143,2022-12-01,1358.937029,2429.951959,67.253855,12.894706,275.588251,50.636664,59.964431,108.156499,35.827759,...,62.695433,57.087163,172.804340,49.054492,102.580769,34.909662,118.366354,39.946830,41.18,34.2907
144,2023-01-03,1386.580174,2353.696885,64.141386,12.733213,262.050221,53.726996,57.859508,100.002951,40.299900,...,62.504472,54.343549,170.453534,48.861003,97.111404,36.136715,105.458584,38.419147,41.29,30.6191

# Clean monthly data

In [8]:
df_pre = df_pre.rename(columns = {"Unnamed: 0":"DATE"})
col = []
for item in df_pre["DATE"]:
    i = datetime.datetime.strptime(item, '%Y-%m-%d')
    col.append(i)
df_pre["DATE"] = col
df_pre

,DATE,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
0,2011-01-04,515.510451,729.602489,78.550099,25.762612,133.692463,38.388369,33.336189,60.842498,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-02-01,496.961664,683.896124,79.579154,24.051472,132.020245,37.593402,34.027516,64.782531,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-03-01,517.417276,694.586056,91.751328,29.347758,135.752710,38.939389,NaN,78.690157,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-04-01,529.055035,729.192303,86.619031,28.272970,152.393591,39.715868,33.276654,65.818041,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-05-03,587.247055,704.422133,83.346299,NaN,143.112318,41.632716,34.178023,62.033370,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2022-09-01,1297.814963,2189.347812,60.500764,12.457644,185.233067,56.313323,59.144619,120.761857,38.159176,...,53.700176,58.158887,192.605361,39.084729,116.877531,33.979146,144.964183,39.172666,40.26,43.1867
141,2022-10-10,1185.972844,2322.574475,53.473864,11.643307,179.752570,54.472519,53.883544,91.595532,33.422004,...,46.825588,49.499357,142.253907,37.811777,85.458840,31.974960,122.638856,33.588368,38.11,38.3761
142,2022-11-01,1082.024379,1754.435396,56.984719,11.498307,159.179231,54.078109,55.946614,97.240042,33.008296,...,64.755799,62.674417,164.968320,40.154009,82.201350,36.494605,109.761174,42.424152,41.53,32.1832
143,2022-12-01,1358.937029,2429.951959,67.253855,12.894706,275.588251,50.636664,59.964431,108.156499,35.827759,...,62.695433,57.087163,172.804340,49.054492,102.580769,34.909662,118.366354,39.946830,41.18,34.2907
144,2023-01-03,1386.580174,2353.696885,64.141386,12.733213,262.050221,53.726996,57.859508,100.002951,40.299900,...,62.504472,54.343549,170.453534,48.861003,97.111404,36.136715,105.458584,38.419147,41.29,30.6191

In [9]:
df1 = df_pre.set_index("DATE")
df1

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
DATE,,,,,,,,,,,,,,,,,,,,,
2011-01-04,515.510451,729.602489,78.550099,25.762612,133.692463,38.388369,33.336189,60.842498,NaN,23.523139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-02-01,496.961664,683.896124,79.579154,24.051472,132.020245,37.593402,34.027516,64.782531,NaN,23.685753,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-03-01,517.417276,694.586056,91.751328,29.347758,135.752710,38.939389,NaN,78.690157,NaN,25.768424,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-04-01,529.055035,729.192303,86.619031,28.272970,152.393591,39.715868,33.276654,65.818041,NaN,26.523923,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-03,587.247055,704.422133,83.346299,NaN,143.112318,41.632716,34.178023,62.033370,NaN,31.578760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,1297.814963,2189.347812,60.500764,12.457644,185.233067,56.313323,59.144619,120.761857,38.159176,44.428662,...,53.700176,58.158887,192.605361,39.084729,116.877531,33.979146,144.964183,39.172666,40.26,43.1867
2022-10-10,1185.972844,2322.574475,53.473864,11.643307,179.752570,54.472519,53.883544,91.595532,33.422004,39.836462,...,46.825588,49.499357,142.253907,37.811777,85.458840,31.974960,122.638856,33.588368,38.11,38.3761
2022-11-01,1082.024379,1754.435396,56.984719,11.498307,159.179231,54.078109,55.946614,97.240042,33.008296,41.665058,...,64.755799,62.674417,164.968320,40.154009,82.201350,36.494605,109.761174,42.424152,41.53,32.1832
2022-12-01,1358.937029,2429.951959,67.253855,12.894706,275.588251,50.636664,59.964431,108.156499,35.827759,50.395545,...,62.695433,57.087163,172.804340,49.054492,102.580769,34.909662,118.366354,39.946830,41.18,34.2907
2023-01-03,1386.580174,2353.696885,64.141386,12.733213,262.050221,53.726996,57.859508,100.002951,40.299900,48.846114,...,62.504472,54.343549,170.453534,48.861003,97.111404,36.136715,105.458584,38.419147,41.29,30.6191

In [10]:
df_close = df_close.rename(columns = {"Unnamed: 0":"DATE"})
df_close

,DATE,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
0,2011-01-31,491.792912,684.147258,78.751888,23.986875,131.122236,37.668705,33.280270,62.929305,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-02-28,510.554644,678.865076,89.185828,29.019274,132.545007,38.895199,NaN,79.322729,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-03-31,521.979458,NaN,86.003934,28.043443,147.792681,39.725788,33.187073,66.261165,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-04-29,587.521303,705.225761,81.247313,26.308252,142.713203,40.670910,33.811633,61.969503,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-05-31,564.416786,657.164586,78.297702,NaN,128.387558,34.861296,30.984561,57.049933,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2022-09-30,1217.588412,2287.393744,54.562612,11.513425,177.544909,54.278358,53.856464,93.782285,34.066268,...,48.272870,51.128377,147.226766,39.665196,91.642038,32.527134,131.685327,34.548330,37.88,38.2963
141,2022-10-31,1058.322942,1749.291409,55.722732,11.333377,158.526382,53.759469,55.469006,95.036804,32.820835,...,65.248276,61.359769,171.950415,36.681395,82.613563,36.054911,108.357066,42.083521,42.26,32.1052
142,2022-11-30,1341.777802,2455.801137,64.499544,12.996413,246.996035,50.796322,59.801945,107.660296,35.630601,...,60.574763,56.329811,174.240944,44.879208,95.060392,34.940338,111.516310,39.781675,40.95,33.5405
143,2022-12-30,1345.125694,2347.480158,62.342811,12.760014,270.807849,52.476792,56.665488,99.306454,40.146914,...,60.162690,51.628515,170.353072,50.307077,95.351957,32.394203,108.688034,38.057871,41.16,30.7317
144,2023-01-31,1558.479586,2354.356039,67.956545,12.682360,239.011518,51.208321,59.792098,102.463357,36.674568,...,91.992833,59.344928,191.259173,49.889549,119.370918,35.349356,105.869788,40.700349,42.12,33.3434

In [11]:
df2 = df_close.set_index("DATE")
df2

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
DATE,,,,,,,,,,,,,,,,,,,,,
2011-01-31,491.792912,684.147258,78.751888,23.986875,131.122236,37.668705,33.280270,62.929305,NaN,23.618082,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-02-28,510.554644,678.865076,89.185828,29.019274,132.545007,38.895199,NaN,79.322729,NaN,25.310210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-03-31,521.979458,NaN,86.003934,28.043443,147.792681,39.725788,33.187073,66.261165,NaN,26.615498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-04-29,587.521303,705.225761,81.247313,26.308252,142.713203,40.670910,33.811633,61.969503,NaN,30.988569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-31,564.416786,657.164586,78.297702,NaN,128.387558,34.861296,30.984561,57.049933,NaN,35.022608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-30,1217.588412,2287.393744,54.562612,11.513425,177.544909,54.278358,53.856464,93.782285,34.066268,39.749735,...,48.272870,51.128377,147.226766,39.665196,91.642038,32.527134,131.685327,34.548330,37.88,38.2963
2022-10-31,1058.322942,1749.291409,55.722732,11.333377,158.526382,53.759469,55.469006,95.036804,32.820835,39.533997,...,65.248276,61.359769,171.950415,36.681395,82.613563,36.054911,108.357066,42.083521,42.26,32.1052
2022-11-30,1341.777802,2455.801137,64.499544,12.996413,246.996035,50.796322,59.801945,107.660296,35.630601,50.582806,...,60.574763,56.329811,174.240944,44.879208,95.060392,34.940338,111.516310,39.781675,40.95,33.5405
2022-12-30,1345.125694,2347.480158,62.342811,12.760014,270.807849,52.476792,56.665488,99.306454,40.146914,49.753077,...,60.162690,51.628515,170.353072,50.307077,95.351957,32.394203,108.688034,38.057871,41.16,30.7317
2023-01-31,1558.479586,2354.356039,67.956545,12.682360,239.011518,51.208321,59.792098,102.463357,36.674568,48.669209,...,91.992833,59.344928,191.259173,49.889549,119.370918,35.349356,105.869788,40.700349,42.12,33.3434

# Get Monthly Return

In [12]:
# merge df1 df2
df = pd.concat([df1,df2]).sort_index()
df

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
DATE,,,,,,,,,,,,,,,,,,,,,
2011-01-04,515.510451,729.602489,78.550099,25.762612,133.692463,38.388369,33.336189,60.842498,NaN,23.523139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-31,491.792912,684.147258,78.751888,23.986875,131.122236,37.668705,33.280270,62.929305,NaN,23.618082,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-02-01,496.961664,683.896124,79.579154,24.051472,132.020245,37.593402,34.027516,64.782531,NaN,23.685753,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-02-28,510.554644,678.865076,89.185828,29.019274,132.545007,38.895199,NaN,79.322729,NaN,25.310210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-03-01,517.417276,694.586056,91.751328,29.347758,135.752710,38.939389,NaN,78.690157,NaN,25.768424,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,1341.777802,2455.801137,64.499544,12.996413,246.996035,50.796322,59.801945,107.660296,35.630601,50.582806,...,60.574763,56.329811,174.240944,44.879208,95.060392,34.940338,111.516310,39.781675,40.95,33.5405
2022-12-01,1358.937029,2429.951959,67.253855,12.894706,275.588251,50.636664,59.964431,108.156499,35.827759,50.395545,...,62.695433,57.087163,172.804340,49.054492,102.580769,34.909662,118.366354,39.946830,41.18,34.2907
2022-12-30,1345.125694,2347.480158,62.342811,12.760014,270.807849,52.476792,56.665488,99.306454,40.146914,49.753077,...,60.162690,51.628515,170.353072,50.307077,95.351957,32.394203,108.688034,38.057871,41.16,30.7317
2023-01-03,1386.580174,2353.696885,64.141386,12.733213,262.050221,53.726996,57.859508,100.002951,40.299900,48.846114,...,62.504472,54.343549,170.453534,48.861003,97.111404,36.136715,105.458584,38.419147,41.29,30.6191
2023-01-31,1558.479586,2354.356039,67.956545,12.682360,239.011518,51.208321,59.792098,102.463357,36.674568,48.669209,...,91.992833,59.344928,191.259173,49.889549,119.370918,35.349356,105.869788,40.700349,42.12,33.3434

In [13]:
df_return = df.shift(-1)
df_return = df_return / df - 1
df_return

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
DATE,,,,,,,,,,,,,,,,,,,,,
2011-01-04,-0.046008,-0.062301,0.002569,-0.068927,-0.019225,-0.018747,-0.001677,0.034299,NaN,0.004036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-31,0.010510,-0.000367,0.010505,0.002693,0.006849,-0.001999,0.022453,0.029449,NaN,0.002865,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-02-01,0.027352,-0.007356,0.120718,0.206549,0.003975,0.034628,NaN,0.224446,NaN,0.068584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-02-28,0.013442,0.023158,0.028766,0.011320,0.024201,0.001136,NaN,-0.007975,NaN,0.018104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-03-01,0.008817,NaN,-0.062641,-0.044443,0.088690,0.020195,NaN,-0.157948,NaN,0.032873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,0.012788,-0.010526,0.042703,-0.007826,0.115760,-0.003143,0.002717,0.004609,0.005533,-0.003702,...,0.035009,0.013445,-0.008245,0.093034,0.079112,-0.000878,0.061426,0.004152,0.005617,0.022367
2022-12-01,-0.010163,-0.033940,-0.073022,-0.010446,-0.017346,0.036340,-0.055015,-0.081826,0.120553,-0.012749,...,-0.040398,-0.095620,-0.014185,0.025535,-0.070469,-0.072056,-0.081766,-0.047287,-0.000486,-0.103789
2022-12-30,0.030818,0.002648,0.028850,-0.002100,-0.032339,0.023824,0.021071,0.007014,0.003811,-0.018229,...,0.038924,0.052588,0.000590,-0.028745,0.018452,0.115530,-0.029713,0.009493,0.003158,-0.003664
2023-01-03,0.123974,0.000280,0.059480,-0.003994,-0.087917,-0.046879,0.033401,0.024603,-0.089959,-0.003622,...,0.471780,0.092033,0.122060,0.021050,0.229216,-0.021788,0.003899,0.059377,0.020102,0.088974
2023-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_return = df_return.iloc[::2]
df_return

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH,689009.SH
DATE,,,,,,,,,,,,,,,,,,,,,
2011-01-04,-0.046008,-0.062301,0.002569,-0.068927,-0.019225,-0.018747,-0.001677,0.034299,NaN,0.004036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-02-01,0.027352,-0.007356,0.120718,0.206549,0.003975,0.034628,NaN,0.224446,NaN,0.068584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-03-01,0.008817,NaN,-0.062641,-0.044443,0.088690,0.020195,NaN,-0.157948,NaN,0.032873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-04-01,0.110511,-0.032867,-0.062015,-0.069491,-0.063522,0.024047,0.016077,-0.058472,NaN,0.168325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-03,-0.038877,-0.067087,-0.060574,NaN,-0.102890,-0.162647,-0.093436,-0.080335,NaN,0.109056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,-0.061817,0.044783,-0.098150,-0.075794,-0.041505,-0.036136,-0.089411,-0.223411,-0.107259,-0.105313,...,-0.101067,-0.120885,-0.235604,0.014851,-0.215914,-0.042732,-0.091601,-0.118050,-0.059116,-0.113239
2022-10-10,-0.107633,-0.246831,0.042055,-0.026619,-0.118086,-0.013090,0.029424,0.037570,-0.017987,-0.007593,...,0.393432,0.239607,0.208757,-0.029895,-0.033294,0.127598,-0.116454,0.252919,0.108895,-0.163406
2022-11-01,0.240062,0.399767,0.131874,0.130289,0.551685,-0.060686,0.068911,0.107160,0.079444,0.214034,...,-0.064566,-0.101231,0.056209,0.117677,0.156433,-0.042589,0.015990,-0.062287,-0.013966,0.042174
2022-12-01,-0.010163,-0.033940,-0.073022,-0.010446,-0.017346,0.036340,-0.055015,-0.081826,0.120553,-0.012749,...,-0.040398,-0.095620,-0.014185,0.025535,-0.070469,-0.072056,-0.081766,-0.047287,-0.000486,-0.103789
2023-01-03,0.123974,0.000280,0.059480,-0.003994,-0.087917,-0.046879,0.033401,0.024603,-0.089959,-0.003622,...,0.471780,0.092033,0.122060,0.021050,0.229216,-0.021788,0.003899,0.059377,0.020102,0.088974

In [15]:
df_return = df_return.stack(dropna= False)
df_return

DATE
2011-01-04  000001.SZ   -0.046008
            000002.SZ   -0.062301
            000004.SZ    0.002569
            000005.SZ   -0.068927
            000006.SZ   -0.019225
                           ...
2023-01-03  688799.SH   -0.021788
            688800.SH    0.003899
            688819.SH    0.059377
            688981.SH    0.020102
            689009.SH    0.088974
Length: 727030, dtype: float64

In [16]:
df = df_return.reset_index()
df = df.rename(columns={"level_1":"SECU_CODE", 0: "RETURN"})
df = df.set_index("DATE")
df

            SECU_CODE    RETURN
DATE
2011-01-04  000001.SZ -0.046008
2011-01-04  000002.SZ -0.062301
2011-01-04  000004.SZ  0.002569
2011-01-04  000005.SZ -0.068927
2011-01-04  000006.SZ -0.019225
...               ...       ...
2023-01-03  688799.SH -0.021788
2023-01-03  688800.SH  0.003899
2023-01-03  688819.SH  0.059377
2023-01-03  688981.SH  0.020102
2023-01-03  689009.SH  0.088974

[727030 rows x 2 columns]

# Write File

In [17]:
df.to_csv("cleaned_data/cleaned_return.csv")